.desktop_app p{
    text-align: center;
    color: white;
  }
  .desktop_app{
    position: absolute;
    margin-left: 7vw;
    margin-top: 3vw;
    display: flex;
    gap: 10px;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 6vw;
    background-color: rgb(45 9 34 / 0.7);
  }
  
  nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 1vw;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
      margin-top: 1vw;
  }
  
  a {
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 5px;
    text-align: center;
  }
  
  
  html,
  body {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../images/ubuntu.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      padding:0;
      margin:0;
      font-family: 'Ubuntu';font-size: 15px;
      font-weight: 700;
  }
  
  #logo {
    padding-left: 5px;
    vertical-align: middle;
  }
  
  #logo-description {
    color: white;
    font-size: 13px;
    font-family: 'Ubuntu';font-size: 15px;
    vertical-align: middle;
    margin-right: 30px;
    font-weight: bold;
  }
  
  #url-bar {
    height: 28px;
    background-color: rgb(62 61 57 / 0.5); 
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    text-overflow: ellipsis;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  #url-bar::-webkit-scrollbar {
    display: none;
  }
  
  #ssl-padlock {
    user-select: none;
    padding-left: 8px;
    margin-right: 8px;
  }
  
  #domain-name {
    color: black;
    font-size: 14px;
    font-family: "system";
  }
  
  #domain-path {
    color: #878383;
    font-size: 14px;
    font-family: "system";
  }
  
  #title-bar-width {
    width: calc(100% + 2px); /* 2px added to allow for border on iframe */
  }
  
  #title-bar {
    user-select: none;
    text-align: center;
  }
  
  #content {
    width: calc(100% + 2px);
    height: 500px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  #window {
    color: red;
    background-color: transparent;
    border-radius: 7px 7px 7px 7px;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 529px; /* title bar height + content height */
    width: 40%;
    margin-left: 30vw;
    margin-top: 5vw;
  }
  
  .outer {
    background: #b4b4b4;
    opacity: 0.9;
    padding: 5px 5px 5px 8px;
    border-radius: 7px 7px 0px 0px;
  }
  .outer.dark {
    background: #273138;
  }
  .outer.dark .dot {
    background: #4a5c66;
  }
  .outer.yosemite {
    background: #4f4d46;
    border: 1px solid #4f4d46;
    border-bottom: 1px solid #b4b4b4;
  }
  
  .dots {
    float: left;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #f9f9f9;
    border-radius: 50%;
    margin: 0 4px 0 0;
  }
  .dot.red {
    background: #ff6057;
    border: 1px solid #e14640;
  }
  .dot.amber {
    background: #ffbd2e;
    border: 1px solid #dfa123;
  }
  .dot.green {
    background: #27c93f;
    border: 1px solid #1dad2b;
  }