{% extends 'base.html.twig' %}

{% block title %}Hello SublimtextController!{% endblock %}

{% block body %}
<head>
    <link src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<nav class="menu">
  <ul>
    <li><a href="#">Fichier</a></li>
    <li><a href="#">Edition</a></li>
    <li><a href="#">Affichage</a></li>
    <li><a href="#">Aide</a></li>
  </ul>
</nav>
<div class="container">
  <div class="sidebar">
    <ul>
      <li>
        <a href="#">assets</a>
        <ul>
          <li><a href="#">controllers</a></li>
          <li><a href="#">js</a></li>
          <li><a href="#">styles</a></li>
          <li><a href="#">app.js</a></li>
        </ul>
      </li>
      <li>
        <a href="#">bin</a>
        <a href="#">config</a>
        <ul>
          <li><a href="#">packages</a></li>
          <li><a href="#">routes</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="editor">
    <textarea id="code-editor"></textarea>
  </div>
</div>

</body>
<script src="{{ asset('js/sublimtext.js') }}"></script>
<link href="{{ asset('css/sublimtext.css') }}" rel="stylesheet" />
{% endblock %}
