{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<body class="body">
    <header>
        <div class="header2">
            <a href="#" id="change-background">Edit</a>
        </div>
    </header>
    
    <p>Bienvenue sur mon portfolio ! - Taper <span class="bleu_name">help</span> pour lister les commandes supportées.</p><br>
    <p>66 paquets peuvent être mis à jour.</p>
    <p>24 mises à jour sont des mises à jour de sécurité.</p><br>
    <p id="date"></p>
    <p id="result"></p>

    <label for="terminal"><span class='name_terminal'>user@enzofontana.com</span>:<span class="bleu_name">~</span>$ </label>
    <input type="text" id="terminal" autocomplete="off" >

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
<script src="{{ asset('js/terminal.js') }}"></script>
<link href="{{ asset('css/terminal.css') }}" rel="stylesheet" />

{% endblock %}
